* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

h2 {
  font-weight: 400;
}

#author {
  font-family: 'Moon Dance', cursive;
  font-size: 24px;
}

body {
  width: 600px;
  height: auto;
  margin: auto auto;
  background-color: #090c17;
  display: table-cell;
  vertical-align: middle;
  
}

.container {
  color: #fff;
  background-color: #090c17;
  text-align: center;
  display: grid;
  grid-template-rows: 70px auto 50px;
  box-shadow: 0 0 8px 2px;
  border: 2px solid #333333;
}

.title {
  display: flex;
  background-color: #06142d;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-family: 'Arvo', serif;
  font-size: 28px;
  border-bottom: 2px solid #333333;
}

.main {
  display: flex;
  background-color: #0b2742;
  flex-direction: column;
  justify-content: center;
  padding: 40px 40px;
  border-bottom: 2px solid #333333;
}

.button {
  display: flex;
  background-color: #06142d;
  justify-content: center;
  align-items: center;
  font-family: 'Arvo', serif;
}

button {
  color: #ddd;
  background-color: #06142d;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
}
